* {
    margin: 0;
    padding: 0; 
    text-align: center;
}

body {
    background: linear-gradient(90deg, #f55e06b2, #8c6c56 );
    /* display: flex;
    flex-direction: column; */
}

.index_body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main    main    main"
    "footer footer footer";

}

header {
    background: linear-gradient(90deg, #f55e06b2, #8c7756 );
    position: fixed;
    top: 0%;
    width: 100vw;
    border-bottom: 2px solid brown;
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 1;
    grid-area: header;
}

header img {
    width: 65px;
    border: 2px solid rgba(119, 69, 11, 0.808);
    border-radius: 35%;
    margin: 2px;
    margin-left: 35px;
}

nav {
    margin-right: 20px;
}

nav ul {
    display: grid;
    grid-template-columns: 15% 25% 20% 20% 20%;
    padding-top: 12px;
}

nav li {
    list-style: none; 
}

li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'Roboto', sans-serif; 
    transition: 1s;
}

li a:hover {
    color: rgb(104, 24, 24);
    font-size: 20px;
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
}

main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    grid-area: main;
}

.titulosMain {
    display: flex;
    flex-direction: column;
}

main div h1 {
    justify-content: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    color: rgba(39, 14, 3, 0.87);
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
}

main div h2 {
    padding: 20px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 15px;
    color: rgb(39, 14, 3);
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
}


/* .imagenesMain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;  
}

.imagenesMain img{
    height: 250px;
    width: 300px;
    border: 5px solid brown;
    border-radius: 35px;
    box-shadow: rgba(175, 55, 0, 0.589) 5px 10px;
    transition: 0.5s;
}

.imagenesMain img:hover {
    border: 5px solid green;
    border-style: inset;
    box-shadow: rgba(0, 128, 0, 0.438) 18px 15px;
} */

main div p {
    margin-top: 30px;
    font-family: cursive;
    padding: 55px;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: bolder;
    color: rgba(41, 14, 3, 0.753);
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 3px solid black ;
    padding: 20px;
    margin-top: 30px;
    grid-area: footer;
}

footer div img {
    border: 2px solid rgb(39, 14, 3);
    border-radius: 35%;
    margin: 20px 10px 10px 10px; 

}

.footerText {
    align-items: center;
    margin-top: 20px;
}

footer div h5 {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    color: rgb(31, 10, 1);
    text-shadow: rgba(194, 108, 9, 0.404) 2px 2px;
}

footer div p{
    font-weight: bolder;
}


/* Hasta este punto esta aplicado CSS al index.html y comparte el mismo formato con el resto de las paginas en cuanto al header, footer y fondo del body.*/

/* estilo de pagina "sobre nosotros"*/

.snbody{
    display: grid;
    grid-template-areas: 
    "snheader snheader snheader "
    "snsection snsection snsection"
    "snfooter snfooter snfooter";
}

.snheader {
    grid-area: snheader;
}

.snsection {
    grid-area: snsection;
}

.snfooter {
    grid-area: snfooter;
}

iframe {
    width: 50vw;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
}

section h1 {
    display: inline-block;
    justify-content: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    color: rgba(39, 14, 3, 0.87);
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
    transition: 1s;
}

section h1:hover{
   
}

section h2 {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 15px;
    color: rgb(39, 14, 3);
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
}

section a {
    text-decoration: none;
}

iframe {
    margin: 30px;
    border: 5px inset brown;
}

iframe:hover {
    border: 5px inset chocolate;
}


section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(39, 14, 3);
    text-shadow: rgba(194, 108, 9, 0.404)5px 8px;
    font-weight: bolder;
    text-align: justify;
    margin: 30px;
    padding: 40px;
}

.imgSobreNosotros {

    margin: 70px 30px 30px;
    padding: 20px;
    border: 5px inset brown;
    border-radius: 40%;
    box-shadow: rgba(163, 55, 23, 0.548) 3px 3px;
}

.imgSobreNosotros:hover{
    border: 5px outset chocolate;
    border-radius: 40%;
    box-shadow: rgba(194, 108, 9, 0.404)r 3px 3px;
}

.contenedorSobreNosotros {
    display: grid;
    grid-template-columns: 70% 30%;
}


/*hasta aca estilos de "sobre nosotros"*/

/* comienzan estilos de "productos"*/

.pbody {
    display: grid;
    grid-template-areas: 
    "pheader pheader pheader"
    "psection psection psection"
    "pfooter pfooter pfooter";
}

.pheader {
    grid-area: pheader;
}

.psection {
    grid-area: psection;
}

.pfooter {
    grid-area: pfooter;
}

.contenedorProductos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.tituloYLista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 350px;
}

.tituloYLista h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: rgba(77, 27, 6, 0.938);
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
    font-weight: bolder;
    padding: 20px;

}

.tituloYLista li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(39, 14, 3);
    text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
    font-weight: bolder;
    padding: 20px;
}

.tituloYLista li:hover{
    font-size: 17px;
    color: rgb(150, 69, 12);
}

.imgProductos {
    height: 300px;
    padding: 20px;
    border: 5px inset brown;
    border-radius: 10%;
    box-shadow: rgba(163, 55, 23, 0.548) 3px 3px;
}

.imgProductos:hover {
    border: 5px outset chocolate;
    border-radius: 10%;
    box-shadow:rgba(76, 82, 3, 0.349) 3px 3px;
}

.contenedorImg img{
    width:  380px;
}



/* fin estilos de pagina "Productos"... comienzo de estilos de pagina "El Menu"*/

.mbody {
    display: grid;
    grid-template-areas:
    "mheader mheader mheader"
    "msection msection msection"
    "mfooter mfooter mfooter";
}

.mheader{
    grid-area: mheader;
}

.msection {
    grid-area: msection;
}

.mfooter {
    grid-area: mfooter;
}


.contenedorMenu {
    display: flex;
    flex-direction: column;
}

.contenedorImgMenu img{
    width: 40vw;
}

.tituloMenu {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedorMenu img {
    border: 5px inset brown;
} /* Esto deberia ser un carrusel de fotos del menu pero aun no se como se hace*/



.tituloMenu img {
    width: 65px;
    height: 55px;
    border: 2px solid chocolate;
    border-radius: 35%;
    margin-top: 25px;
    margin-right: 35px;
}

.contenedorImgMenu {
    margin: 10px;
}

.tituloMenu h3 {
    margin-top: 20px;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    color: rgba(77, 27, 6, 0.938);
    text-shadow: rgba(182, 73, 11, 0.185) 5px 8px;
    font-weight: bolder;
}

/* Fin de estilos de "el menu" comienzo de "Contactos"*/

.cbody {
    display: grid;
    grid-template-areas:
    "cheader cheader cheader"
    "csection csection csection"
    "cfooter cfooter cfooter";
}

.cheader {
    grid-area: cheader;
}

.csection {
    grid-area: csection;
}

.cfooter {
    grid-area: cfooter;
}

.contenedorContactos {
    padding: 20px;
    display: flex;
    justify-content: center;
}

fieldset {
    width: 600px;
    height: 500px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: brown;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin: 0px;
    padding: 10px;
    text-align: center;
}

label {
    margin-top: 10px;
    padding: 10px;
}

input[type="submit"],
input[type="reset"] {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: brown;
    font-weight: bolder;
    width: 200px;
}

textarea {
    width: 450px;
    height: 170px;
    text-align: left;
}

[type="text"] {
    text-align: left;
}

.botones {
    margin-top: 50px;
}

@media  screen and (max-width: 945px) {

    li a {
        font-size: 12px;
    }

    li a:hover {
        font-size: 14px;
    }

    body{
        background: none;
        background-color: rgba(165, 72, 11, 0.747);
    }
    header {
        background: none;
        background-color: rgba(173, 86, 14, 0.747);
        grid-template-columns: 30% 70%;
    }

    /* .imagenesMain img{
        width: 150px;
        height: auto;
    } */
   
    .index_body {
        display: grid;
        grid-template-areas: 
        "header header "
        "main main"
        "main main"
        "main main"
        "footer footer ";
    }

   .imagenesMain {
       flex-direction: column;
    }

    .imagenesMain a {
        margin: 15px;
    }

   
    .titulosMain h1 {
        font-size: 45px;
      
    }

    .titulosMain h2{
        font-size: 25px;
    }

    main div p {
        font-size: 18px;
    }

    footer div h5 {
        font-size: 15px;
    }
    
    .contenedorProductos {
        display: flex;
       flex-wrap: wrap;
    }

    .contenedorSobreNosotros {
        display: flex;
        flex-direction: column;
    }

    input[type="submit"],
    input[type="reset"] {
        width: 200px;
    }

    .contenedorImg img{
        width:  300px;
        height: 250px;
    }
    
    fieldset {
        width: 500px;
        height: 490px;
    }
    
}