* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#f55e06b2), to(#8c6c56));
  background: linear-gradient(90deg, #f55e06b2, #8c6c56);
}

.index_body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "main    main    main" "footer footer footer";
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#f55e06b2), to(#8c7756));
  background: linear-gradient(90deg, #f55e06b2, #8c7756);
  position: fixed;
  top: 0%;
  width: 100%;
  border-bottom: 2px solid brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

header img {
  width: 65px;
  height: 55px;
  border: 2px solid rgba(119, 69, 11, 0.808);
  border-radius: 35%;
  margin-left: 30px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 1s;
  transition: 1s;
}

header nav ul li a:hover {
  color: #681818;
  font-size: 20px;
  text-shadow: 0px 0px 10px rgba(236, 148, 47, 0.582), 0px 0px 10px rgba(236, 148, 47, 0.582);
}

main {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

main .titulosMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  color: rgba(39, 14, 3, 0.87);
  text-shadow: 0px 0px 10px rgba(236, 148, 47, 0.582), 0px 0px 10px rgba(236, 148, 47, 0.582);
}

main div h2 {
  padding: 20px;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 15px;
  color: #270e03;
  text-shadow: 0px 0px 10px rgba(236, 148, 47, 0.582), 0px 0px 10px rgba(236, 148, 47, 0.582);
}

main div p {
  margin-top: 30px;
  font-family: cursive;
  padding: 55px;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: bolder;
  color: rgba(41, 14, 3, 0.753);
  text-shadow: 0px 0px 10px rgba(236, 148, 47, 0.582), 0px 0px 10px rgba(236, 148, 47, 0.582);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px solid black;
  padding: 20px;
  margin-top: 30px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

footer div img {
  border: 2px solid #270e03;
  border-radius: 35%;
  margin: 20px 10px 10px 10px;
}

footer div h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1f0a01;
  text-shadow: 0px 0px 10px rgba(236, 148, 47, 0.582), 0px 0px 10px rgba(236, 148, 47, 0.582);
}

footer div p {
  font-weight: bolder;
  font-size: 12px;
}

.snbody {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "snheader snheader " "snsection snsection" "snfooter snfooter ";
}

.snheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: snheader;
}

.snsection {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: snsection;
}

.snfooter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: snfooter;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 90px;
}

section h1 {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  color: rgba(39, 14, 3, 0.87);
  text-shadow: 0px 0px 10px rgba(236, 148, 47, 0.582), 0px 0px 10px rgba(236, 148, 47, 0.582);
  -webkit-transition: 1s;
  transition: 1s;
}

section h1:hover {
  font-size: 60px;
  color: rgba(180, 63, 12, 0.979);
  text-shadow: 0px 0px 15px rgba(68, 38, 4, 0.87), 0px 0px 15px rgba(68, 38, 4, 0.87);
}

section h2 {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 15px;
  color: #270e03;
  text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
}

section a {
  text-decoration: none;
}

section iframe {
  margin: 30px;
  border: 5px inset brown;
  width: 70vw;
  height: 500px;
}

section iframe:hover {
  border: 5px inset chocolate;
}

section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #270e03;
  text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
  font-weight: bolder;
  text-align: justify;
  margin: 30px;
  padding: 40px;
}

section .imgSobreNosotros {
  margin: 70px 30px 30px;
  padding: 20px;
  border: 5px inset brown;
  border-radius: 30%;
  -webkit-box-shadow: rgba(163, 55, 23, 0.548) 3px 3px;
          box-shadow: rgba(163, 55, 23, 0.548) 3px 3px;
  width: 250px;
}

section .imgSobreNosotros:hover {
  border: 5px inset chocolate;
  -webkit-box-shadow: rgba(194, 108, 9, 0.404) r 3px 3px;
          box-shadow: rgba(194, 108, 9, 0.404) r 3px 3px;
}

section .contenedorSobreNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* comienzan estilos de "productos"*/
.pbody {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "pheader pheader" "psection psection" "pfooter pfooter";
}

.pheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: pheader;
}

.psection {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: psection;
}

.pfooter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: pfooter;
}

.psection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.contenedorProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedorProductos .tituloYLista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorProductos .tituloYLista h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color: rgba(77, 27, 6, 0.938);
  text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
  font-weight: bolder;
  padding: 20px;
}

.contenedorProductos .tituloYLista p {
  margin-top: 0px;
}

.contenedorProductos .tituloYLista li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #270e03;
  text-shadow: rgba(194, 108, 9, 0.404) 5px 8px;
  font-weight: bolder;
  padding: 15px;
}

.contenedorProductos .tituloYLista li:hover {
  font-size: 17px;
  color: #96450c;
}

.contenedorProductos .imgProductos {
  margin-top: 50px;
  width: 300px;
  padding: 10px;
  border: 5px inset brown;
  border-radius: 10%;
  -webkit-box-shadow: rgba(163, 55, 23, 0.548) 3px 3px;
          box-shadow: rgba(163, 55, 23, 0.548) 3px 3px;
}

.contenedorProductos .imgProductos:hover {
  border: 5px outset chocolate;
  border-radius: 10%;
  -webkit-box-shadow: rgba(76, 82, 3, 0.349) 3px 3px;
          box-shadow: rgba(76, 82, 3, 0.349) 3px 3px;
}

.mbody {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "mheader mheader" "msection msection" "mfooter mfooter";
}

.mheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mheader;
}

.msection {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: msection;
}

.mfooter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mfooter;
}

.contenedorMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedorMenu img {
  width: 40vw;
  border: 5px inset brown;
}

.contenedorMenu .tituloMenu {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorMenu .tituloMenu h3 {
  margin-top: 20px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: rgba(77, 27, 6, 0.938);
  text-shadow: rgba(182, 73, 11, 0.185) 5px 8px;
  font-weight: bolder;
}

.contenedorMenu .tituloMenu img {
  width: 65px;
  height: 55px;
  border: 2px solid chocolate;
  border-radius: 35%;
  margin-top: 25px;
  margin-right: 35px;
}

.pcarousel {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px brown;
}

.contenedorImgMenu {
  margin: 10px;
}

/* Fin de estilos de "el menu" comienzo de "Contactos"*/
.cbody {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cheader cheader cheader" "csection csection csection" "cfooter cfooter cfooter";
}

.cheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cheader;
}

.csection {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: csection;
}

.cfooter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cfooter;
}

.contenedorContactos {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorContactos fieldset {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: brown;
  font-weight: bolder;
  width: 70%;
}

.contenedorContactos fieldset form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedorContactos fieldset form p {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.contenedorContactos fieldset form label {
  margin-top: 10px;
  padding: 10px;
}

.contenedorContactos fieldset form label textarea {
  width: 100%;
  text-align: left;
}

.contenedorContactos fieldset form input[type="submit"],
.contenedorContactos fieldset form input[type="reset"] {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: brown;
  font-weight: bolder;
  width: 120px;
}

.contenedorContactos fieldset form .botones {
  margin-top: 50px;
}

[type="text"] {
  text-align: left;
}

@media screen and (max-width: 850px) {
  body {
    background: none;
    background-color: rgba(165, 72, 11, 0.747);
  }
  header {
    background: none;
    background-color: #ad560e;
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
  .titulosMain h2 {
    font-size: 25px;
  }
  .imagenesMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imagenesMain a {
    margin: 15px;
  }
  section h1 {
    font-size: 45px;
  }
  section h2 {
    font-size: 25px;
  }
  section iframe {
    width: 85%;
    height: 300px;
  }
  section p {
    font-size: 14px;
  }
  .contenedorSobreNosotros {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main div p {
    font-size: 18px;
  }
  .contenedorProductos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorProductos .tituloYLista h3 {
    font-size: 20px;
  }
  .contenedorProductos .tituloYLista li {
    font-size: 10px;
  }
  .medio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenedorMenu .tituloMenu h3 {
    font-size: 25px;
  }
  .contenedorImg img {
    width: 300px;
    height: 250px;
  }
}
/*# sourceMappingURL=styles.css.map */